<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>{% block title %}Development Dashboard{% endblock %}</title>
{% load static from staticfiles %}
<link rel="stylesheet" href="{% static "dashboard.css" %}">
<script type="text/javascript" src="{% static "jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "jquery.flot.min.js" %}"></script>
<script type="text/javascript" src="{% static "dddash.js" %}"></script>
{% block extrahead %}{% endblock %}
</head>
<body>
<h1>{% block pagetitle %}Development Dashboard{% endblock %}</h1>
{% block content %}{% endblock %}
	</body>
	</html>
